

.single-body {
	margin-top: ms(2);
}

.single-bottom-share {
	margin-top: ms(-3);
	text-align: center;
}

p {
	margin-bottom: ms(4);
}
.single-category,
.single-category a {
	font-weight: 300;
}

.intro {
	font-size: 1.125rem;
  	font-weight: 600;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1.75;
}

.single-by {
	font-weight: 500;
	font-style: italic;
	font-size: ms(0);
}

.single-author {
	font-weight: 300;
}

.single-title {
	font-weight: 600;
}

.single-date {
	font-weight: 300;
	color: #999999;
}


.wp-caption-text {
	font-size: ms(0);
  	padding: ms(-1) 0 0 0;
  	text-align: center;
  	font-weight: 400;
}

.aligncenter {
	margin-left: -16.666666666%;
	max-width: 133.333332%;
	margin-bottom: ms(4);
	margin-top: 0;
}

hr {
	margin: ms(4) 0 ms(4) 0;
}

blockquote {
  border: none;
  //text-transform: uppercase;
}

blockquote p {
	font-weight: 600;
	font-size: ms(2);
	margin-bottom: 0;
}

.alignright {
	margin: 0;
	margin-right: - ms(10);
	float: right;
	padding-left: ms(4);
	padding-bottom: ms(4);
	width: ms(14);
}

.text-center {
	text-align: center;
}


ol {
	list-style-image: none;
}
.single-share {
	float: left;
	margin-left: - (3+ ms(8));
	margin-top: 15px !important;

}

.single-share .share-icon {
	display: block;
	margin-bottom: ms(0);
}

 .single-content > p:last-child {
 	margin-bottom: 0;
 }
 .single-content {
 	margin-bottom: ms(6);
 }





#comments_wrapper {
	margin-top: ms(7);
}

.comment-header {
	margin-bottom: ms(4);
	clear: both;
}

.comment {
	list-style: none;
}
.replay {

}

.comment-number {
	margin-right: 10px;
  	border: solid 1px;
  	padding-top: 1px;
  	width: ms(4);
  	height: ms(4);
  	display: block;
  	float: left;
  	text-align: center;
}

.comment-header {
	vertical-align: -2px;
}

.comment-text {
	margin-left: ms(6);
}

.comment-replay {
	float: left;
	display: block;
	border: solid 1px #000;
	width: ms(4);
  	height: ms(4);
  	text-align: center;
  	padding-top: 3px;
  	font-size: ms(2) - ms(-6);

	&:hover {
		border: solid 1px #000;
		transition: all 0.3s ease;
	}

}
.comment-toggle {
	vertical-align: -10px;
	text-align: right;
	font-weight: 200;
	font-size: ms(2);
	transition: all 0.3s ease;

	
}
.comment-toggle-icon {
	width: ms(1);
	height: ms(1);
}


.comment-toggle-border {
	margin-left: ms(-1);
	width: ms(4);
	height: ms(4);
	float: right;
	border: solid 1px #000;
	text-align: center;
	&:hover {
		.comment-toggle-icon {
			transition: all 0.3s ease;
		}
		cursor: pointer;
		transition: all 0.3s ease;
		background-color: #d6d6d6;
		border: solid 1px #000;
	}

}

.comment-edit-link {
	display: none;
}

.author {
	font-weight: 700;
	color: #111;
}
.date {
	font-size: ms(0);
	padding-left: ms(-4);
}

.children {
	margin-left: ms(6);
}

.submit {
  border: none;
  border: 1px solid #000;
  background: none;
  padding: ms(0) ms(1) ms(0) ms(1);
  font-size: ms(0);
  color: #111;
  transition: all 0.3s ease;
  margin-bottom: ms(4);

  &:hover {
  	transition: all 0.3s ease;
  }

}

.comment-form-comment {
	margin-bottom: ms(0);
}

#comment {
  padding: ms(2) ms(3) ms(2) ms(3);
  box-shadow: none;
  margin-top: ms(3);
}

.comments #respond {
	display: block !important;
}

.js-css-comments {
	display: none;
}

.comment-form label {
	font-size: ms(0);
	margin-bottom: ms(-4);
}

.comment-form input {
	box-shadow: none;
  	padding-left: ms(2);
  	padding-right: ms(2);
}
.comment-form p {
	margin-bottom: ms(1);
}


.site-pagination {
    border-top: solid #000 1px;
    margin: ms(3) 0 ms(6) 0;
    padding: ms(3) 0 0 0;
}

.page-numbers {
    list-style-type: none;
    text-align: center;
    
    li {
        display: inline-block;
    }
    .prev {
        margin-right: ms(3);
        font-weight: 200;
    }
    .next {
        margin-left: ms(3);
        font-weight: 200;
    }
}

ul.page-numbers {
    margin-left: 0;
    margin-bottom: 0;
}

.page-numbers .current {

}

#secondary {
	font-size: ms(0);
	margin-bottom: ms(5);
}

#secondary p {
	font-size: ms(0);
}

#secondary li {
	font-size: ms(0);
	list-style: none;
	margin-bottom: ms(-4);
}
#secondary ul {
	margin-left: 0;
}

#secondary h1 {
	font-size: ms(2);
}
#secondary h1 {
	font-size: ms(2);
}

#secondary .widget {
	margin-bottom: ms(3);
}
#secondary .post-date {
	display: inherit;
	list-style: none;
	color: #999999;
	font-weight: 300;
}













