.site-pagination {
    border-top: solid map-get($site_static_color, border) 1px;
    //border-bottom: solid map-get($site_static_color, border) 1px;

    margin: ms(3) 0 ms(6) 0;
    padding: ms(3) 0 0 0;
}

.page-numbers {
    list-style-type: none;
    text-align: center;
    
    li {
        display: inline-block;
    }
    .prev {
        margin-right: ms(3);
        font-weight: 200;
        color: map-get($site_static_color, light_text);
    }
    .next {
        margin-left: ms(3);
        font-weight: 200;
        color: map-get($site_static_color, light_text);
    }
}

ul.page-numbers {
    margin-left: 0;
    margin-bottom: 0;
}