// ------------------------------- Body
body { 
	margin-top: ms(6) + ms(4);
}
// ------------------------------- site-Header
.header-fixed {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 100%;
}

.main-header {
	border-bottom: 1px solid map-get($site_static_color, border);

	width: 100%;
	min-height:  ms(6);

	background: #fff;
} // main-header

.site-title {	
	display: inline-block;
	
	margin: ms(0) ms(-3) 0 0;
	padding: 0;
	img {
		display: block;
		
		height: ms(3);
	}
} 
.site-description {
	display: inline-block;

	vertical-align: 3px;
	color: map-get($site_static_color, light_text);
	font-size: ms(2) - ms(-6);
	font-weight: 200;
} 

.site-social {
	text-align: center;
	margin-bottom: ms(0);
	a {
		color: map-get($site-static-color, body_text);
	}
	i {
		padding: 0 ms(-5) 0 ms(-5);
	}
}

.site-navigation-toggle  {
	button {
		float: right;
		
		margin: ms(-6) 0 ms(-6) 0;
		outline:none;
		padding: ms(0);
		background: none;
		
		color: map-get($site_static_color, light_text);
		font-weight: 200;
		.js-css-toggle-animation {
			transform: rotate(45deg);
			transition: all 0.7s ease;
		}
	}
	.icon-grid {
		width: ms(1);
		height: ms(1);
		
		transition: all 0.5s ease;
	}
	span {
		margin-right: ms(0);

		vertical-align: 3px;
	}
} // site-menu-toggle

.site-navigation {
	max-height: 0px;
    overflow: hidden;

    transition: max-height 0.5s ease-out;
	ul {
		list-style: none;
	}
	.menu-item {
		padding: 0;
		text-align: center;
		a {
			color: map-get($site_static_color, body_text);
		}
		:hover {
			color: map-get($site_static_color, light_text);
		}
	}
	.sub-item {
		a {
		color: map-get($site_static_color, light_text);
		font-weight: 200;
		}
		:hover {
			color: map-get($site_static_color, body_text);
		}
	}
	.dropdown {
		margin: 0;
	}


} //site-navigation

.toggle {
    max-height: 3000px !important;

    transition: max-height 0.9s ease-in;
}

.site-search {
	margin-top: ms(0);

	.search-input {
		position: relative;
	}
	.search-submit {
		padding: 0;
		margin: 0;
		background: none;
		position: absolute;
		top: 11px;
		left: 87%;

	}
	.icon-search {
		width: ms(1);
		height: ms(1);
	}
	::-webkit-input-placeholder {
	   color: map-get($site_static_color, light_text);
	   font-weight: 200;
	   transition: opacity 0.5s ease-out;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: map-get($site_static_color, light_text);
	   font-weight: 200;
	   transition: opacity 0.5s ease-out; 
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color: map-get($site_static_color, light_text);
	   font-weight: 200;
	   transition: opacity 0.5s ease-out; 
	}
	:-ms-input-placeholder {  
	   color: map-get($site_static_color, light_text);
	   	font-weight: 200;
		transition: opacity 0.5s ease-out; 
	}

	input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-out;
	}
	input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-out;
	}
	input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-out;
	}
	input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-out;
	}
}




