@media #{$small-only} { 

	body {
		margin-top: ms(8);
	}

	.site-navigation-toggle {
		button {
			margin: 0 auto;
			float: none;
			display: block;
		}
	}
	.site-branding {
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.site-description {
		display: none;
	}
	
	h1 {
		font-size: ms(3);
	}
	.article-box p {
		display: block;
	}
}

@media #{$medium-only} { 

	body {
		margin-top: ms(6);
	}



}