//broder
.form-submit .submit,
.CS-comment,
.comment-form input,
.comment-replay,
.CS-comment-toggle-border,
.CS-content-share .CS-share-icon {
	border-color: $border;
}

.comment-replay:hover,
.CS-content-share .CS-share-icon:hover,
.CS-comment-toggle-border:hover {
	background-color: $border;
}

.CS-site-header {
	border-bottom-color: $border;
}

.site-footer,
.CS-single-pagination,
.CS-site-pagination,
.post-pagination,
.footer-copy {
	border-top-color: $border;
}


//Light_text
a:hover,
.date,
.CS-single-date,
.wp-caption-text,
.CS-single-category,
.CS-single-category a,
.copy-extra-list a,
.content-category,
.content-date,
.footer-copy,
.copy-extra-button,
.CS-site-description,
.page-numbers .prev,
.page-numbers .next,
.CS-site-social a:hover,
.CS-toggle-button .CS-toggle-title,
.CS-site-navigation ul > li a:hover,
.CS-site-navigation .sub-menu > li a,
.CS-site-sidebar .post-date {
	color: $light_text;
}
pre {
	border-color: $light_text;
}

.icon-search {
	fill: $light_text;
}

.CS-site-search ::-webkit-input-placeholder {
	color: $light_text;
}
.CS-site-search :-moz-placeholder {
	color: $light_text;
}
.CS-site-search ::-moz-placeholder {
	color: $light_text;
}
.CS-site-search :-ms-input-placeholder {
	color: $light_text;
}

//body_text
body,
pre,
.content-title a,
.CS-site-social a,
.CS-site-sidebar li a,
.CS-site-sidebar li a:hover,
.CS-site-navigation ul > li a,
.CS-site-navigation .sub-menu > li a:hover {
	color: $body_text;
}

//Social_dark
.CS-comment-toggle-border:hover .CS-comment-toggle-icon {
	fill: $social_dark;
}
.comment-replay:hover,
.CS-content-share .CS-share-icon:hover i {
	color: $social_dark;
}

//header_text
h1,
h2,
h3,
h4,
h5,
p.intro,
strong,
blockquote,
blockquote p,
.footer-widget li a,
.author,
.submit {
	color: $header_text;
}

// #dynamic

//main_color
a,
blockquote cite a,
.CS-comment-toggle,
.submit:hover,
.single-category a:hover,
.copy-extra-list a:hover,
.CS-toggle-button:hover,
.footer-widget li a:hover,
.prev.page-numbers:hover,
.next.page-numbers:hover,
.CS-site-navigation .sub-menu > li a:hover {
	color: $main_color;
}
.CS-content-share .CS-share-icon:hover,
.comment-replay:hover,
.submit:hover,
.CS-comment-toggle-border:hover {
	border-color: $main_color;
}

.CS-comment-toggle-icon,
.icon-search:hover {
	fill: $main_color;
}
































