a {
	color: map-get($site_dynamic_color, main_color);
}
a:hover {
	color: map-get($site_static_color, light_text);
}


.site-header {
	border-bottom-color: map-get($site_static_color, border);	
}

.site-footer,
.footer-copy {
	border-top-color: map-get($site_static_color, border);
}

.content-share .share-icon {
	border-color: map-get($site_static_color, border);
}

.content-share .share-icon:hover {
	background-color: map-get($site_static_color, border);		
	border-color: map-get($site_dynamic_color, main_color);
}

.content-share .share-icon:hover i {
	color: darken(map-get($site_dynamic_color, main_color), 30%);
}

.copy-extra-item a,
.content-category,
.content-date,
.footer-copy,
.copy-extra-button,
.search-button:hover,
.site-description,
.site-social a:hover,
.toggle-button .toggle-title,
.site-navigation ul > li a:hover,
.site-navigation .sub-menu > li a {
	color: map-get($site_static_color, light_text);
}
.content-title a,
.site-social a,
.site-navigation ul > li a,
.site-navigation .sub-menu > li a:hover {
	color: map-get($site_static_color, body_text);
}

.icon-search {
	fill: map-get($site_static_color, light_text);
}

.icon-search:hover {
	fill: map-get($site_dynamic_color, main_color);
}

.copy-extra-item a:hover,
.toggle-button:hover,
.site-navigation .sub-menu > li a:hover {
	color: map-get($site_dynamic_color, main_color);
}



.site-search ::-webkit-input-placeholder {
	color: map-get($site_static_color, light_text);
}
.site-search :-moz-placeholder {
	color: map-get($site_static_color, light_text);
}
.site-search ::-moz-placeholder {
	color: map-get($site_static_color, light_text);
}
.site-search :-ms-input-placeholder {
	color: map-get($site_static_color, light_text);
}

