
// Small screens
@media only screen { } /* Define mobile styles */

// Small screens only
@media only screen and (max-width: 40em) { 

	body {
		margin-top: ms(8);
	}
	body.withsidebar {
		margin-top: ms(8);
	}

	.CS-pull-left {
		float: none;		
		margin-left: 0px;
		padding-right: ms(2);
		padding-left: ms(2);
		text-align: right;
		width: 100%;
	}

	.site-navigation-toggle {
		.toggle-button {
			display: block;
			float: none;
			margin: 0 auto;
		}
	}

	.site-branding {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.site-description {
		display: none;
	}
	
	.footer-copy,
	.copy-extra{
		text-align: center;
	}
	.footer-widget:first-child {
		margin-bottom: ms(5);
	} 
	
	.copy-extra {
		margin-top: ms(-1);
	}

	.copy-extra-item {
		margin: 0 ms(-3) 0 ms(-3);
	}
	.content-title {
	font-size: ms(2);
	margin-bottom: ms(-3);
	margin-top: ms(-6);
	}

	.content-content p {
		font-size: ms(0);
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

	.menu-offset-3-item {
		margin-left: 12.499999% !important;
	}

	.menu-offset-2-item {
		margin-left: 25% !important;
	}

	.menu-offset-1-item {
		margin-left: 37.4999999% !important;
	}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	body {
		margin-top: ms(6);
	}

	.CS-pull-left {
		float: none;		
		margin-left: 0px;
		padding-right: ms(5);
		padding-left: ms(5);
		text-align: right;
		width: 100%;
	}
	.CS-single-thumbnail {
		margin-left: -16px;
		margin-right: -16px;
	}

	.mq-content-title {
		font-size: ms(3);
	}

	.mq-content-content p {
		font-size: ms(0);
	}

	.mq-footer-widget .widget-title {
		font-size: ms(2);
	}
	.mq-footer-widget p {
		font-size: ms(0);
	}
	.mq-footer-widget li {
		font-size: ms(0);
	}
	.mq-footer-widget a {
		font-size: ms(0);
	}
	.mq-footer-copy .copy-body {
		font-size: ms(0);
	}
	.mq-footer-copy .copy-extra-item {
		font-size: ms(0);
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
















