
// Small screens
@media only screen { } /* Define mobile styles */

// Small screens only
@media only screen and (max-width: 40em) { 

	body {
		margin-top: ms(8);
	}
	body.withsidebar {
		margin-top: ms(8);
	}

	.CS-site-navigation-toggle .CS-toggle-button {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.CS-site-branding {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.CS-site-description {
		display: none;
	}
	
	.footer-copy,
	.copy-extra{
		text-align: center;
	}
	.footer-widget:first-child {
		margin-bottom: ms(5);
	} 
	
	.copy-extra {
		margin-top: ms(-1);
	}

	.CS-content-title {
		margin-bottom: ms(-3);
		margin-top: ms(-6);
		font-size: ms(2);
	}

	.CS-content-content p {
		font-size: ms(1);
	}
	.CS-404-title {
		font-size: ms(2);
		margin-top: ms(5);
	}
	.CS-404-text {
		font-size: ms(0);
	}
	.CS-intro {
		font-size: ms(1);
		line-height: 1.4;
	}
	.mq-footer-widget p,
	.mq-footer-widget li,
	.mq-footer-widget a,
	.mq-footer-copy .copy-body,
	.copy-extra-list li {
		font-size: ms(0);
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

	.menu-offset-3-item {
		margin-left: 12.499999% !important;
	}

	.menu-offset-2-related-posts {
		margin-left: 25% !important;
	}

	.menu-offset-2-item {
		margin-left: 25% !important;
	}

	.menu-offset-1-item {
		margin-left: 37.4999999% !important;
	}

} /* min-width 641px, medium screens */

// Medium Screens Only
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	body {
		margin-top: ms(6);
	}

	.mq-content-title {
		font-size: ms(3);
	}

	.mq-content-content p {
		font-size: ms(1);
	}

	.mq-footer-widget .widget-title {
		font-size: ms(2);
	}
	.mq-footer-widget p,
	.mq-footer-widget li,
	.mq-footer-widget a,
	.mq-footer-copy .copy-body,
	.copy-extra-list li {
		font-size: ms(0);
	}

	.CS-404-title {
		font-size: ms(4);
		margin-top: ms(5);
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
















