.CS-content-header,
.CS-content-content .more-link {
	text-align: center;
}
.CS-content-content,
.CS-content-content p {
	font-weight: 400;
  	-webkit-font-smoothing: subpixel-antialiased;
  	line-height: 1.75;

}

.CS-content-date,
.CS-content-content .more-link {
	display: block;
	margin: 0 auto;
	width: 50%;
}
.CS-content {
	margin-bottom: ms(4);
}

.CS-content-header {
	padding: ms(1);
}

.CS-content-title {
	line-height: 1.3;
	margin-bottom: ms(-3);
	margin: 0;
	text-transform: capitalize;
}

.CS-content-date {
	font-weight: 200;
	margin-top: ms(2);
}

.CS-content-content .more-link {
	margin-top: ms(2);
}

.CS-content-content .CS-intro {
	font-size: ms(1);
	margin-bottom: 0;
}
.CS-content-content p {
	margin-bottom: 0;
}

