.site-footer,
.footer-copy {
	border-top: 1px solid #000;
}

.site-footer {
	padding-top: ms(4);
}

.footer-widgetarea {
	padding-bottom: ms(4);
}

.widget-title {
		font-size: ms(3);
		margin-top: 0;
}

.footer-copy {
	height:  ms(6);
	padding-top: ms(2);
	font-weight: 200;
}

.copy-extra-button {
	float: right;
	outline: none;
	padding: 0;
	margin-top: ms(-7);
	background: none;
	font-weight: 200;
}

.copy-extra-body {
	margin-right: ms(0);
	vertical-align: 7px;
}

.CS-icon-arrow {
	width: ms(1);
	height: ms(1);
}