.site-footer,
.footer-copy {
	border-top: 1px solid #000;
}

.copy-extra-list li,
.copy-extra-item {
	display: inline;
}
.site-footer {
	padding-top: ms(4);
}

.php-site-footer-no-widget {
	 border-top: none;
	 padding-top: 0;
}

.footer-widgetarea {
	padding-bottom: ms(4);
}

.widget-title {
	margin-top: 0;
	font-size: ms(3);
}

.footer-copy {
	margin-bottom: ms(-2);
	padding-top: ms(2);
	height:  ms(6);
	font-weight: 200;
}

.copy-extra {
	text-align: right;
}

.footer-widget ul {
	margin-left: ms(1);
}

.copy-extra-list {
	margin-left: 0;
}

.copy-extra-list li {
	margin-left: ms(2);
}

.copy-extra-item {
	margin-left: ms(2);
}

.footer-center {
	text-align: center;
}

.footer-center ul {
	margin-left: 0;
}

.footer-center li {
	list-style: none;
}