.post-pagination .next-post {
	text-align: right;
}

.post-pagination .arrow {
	font-size: ms(5);
	margin-top: -7px;
}
.post-pagination .next-post .arrow {
	float: right;
	margin-left: ms(2);
}

.post-pagination .prev-post .arrow {
	float: left;
	margin-right: ms(2);
}

.post-pagination {
	border-top: 1px solid #000;	
	padding-top: ms(6);
}