.CS-single-pagination {
	border-top: 1px solid #000;	
	padding-top: ms(6);
}
.CS-pagination-arrow {
	font-size: ms(5);
	margin-top: -7px;
}

.CS-pagination-next {
	text-align: right;
}

.CS-pagination-next .CS-pagination-arrow {
	float: right;
	margin-left: ms(2);
}

.CS-pagination-prev .CS-pagination-arrow {
	float: left;
	margin-right: ms(2);
}

.CS-pagination-share {
	margin-top: ms(-3);
	text-align: center;
}