.CS-related {
	padding: ms(4) 0 ms(4);
}

.CS-related-title {
	margin-top: ms(-5);
	font-size: 18px;
	text-align: center;
	a {
	}
}

.CS-related-date {
	text-align: center;
	display: block;
	margin-top: ms(1);
	font-size: ms(1);
	color: $light_text;
	font-weight: 300;
}

.CS-related-item {
	padding: 0 ms(2) 0 ms(2);
}