#secondary {
	font-size: ms(0);
	margin-bottom: ms(5);
}

#secondary p {
	font-size: ms(0);
}

#secondary li {
	font-size: ms(0);
	list-style: none;
	margin-bottom: ms(-4);
}
#secondary ul {
	margin-left: 0;
}

#secondary li a {
	color: map-get($site_static_color, body_text);
}

#secondary h1 {
	font-size: ms(2);
}
#secondary h1 {
	font-size: ms(2);
}

#secondary .widget {
	margin-bottom: ms(2);
}
#secondary .post-date {
	display: inherit;
	list-style: none;
	color: #999999;
	font-weight: 300;
}